# Strings in Detail

In [1]:
name = Shakib

NameError: name 'Shakib' is not defined

In [2]:
name = 'Shakib'

In [3]:
name.index('a')

2

In [4]:
address='Bangalore'

In [5]:
address

'Bangalore'

In [6]:
# Concat the strings together

In [7]:
name+''+address

'ShakibBangalore'

In [8]:
name + " " + address

'Shakib Bangalore'

In [9]:
name.split()

['Shakib']

In [10]:
name[3]

'k'

In [11]:
#Assignment No.1 for the day

In [12]:
'Try 5 different functions of string in Python'

'Try 5 different functions of string in Python'

# Lists

In [32]:
# What are List : Datatype which can hold multiple data types inside it. It can hold integer,float,string,sub-list etc. List can be changed any point of time

In [5]:
lst=[1,2,3,'shakib','integration_devops',4.5,6.7,]

In [6]:
type(lst)

list

In [7]:
lst

[1, 2, 3, 'shakib', 'integration_devops', 4.5, 6.7]

In [8]:
lst[5]

4.5

In [9]:
lst[0]

1

In [10]:
lst[6]

6.7

In [11]:
lst[-1]

6.7

In [12]:
lst[7]

IndexError: list index out of range

In [13]:
lst

[1, 2, 3, 'shakib', 'integration_devops', 4.5, 6.7]

In [14]:
lst=[1, 2, 3, 'shakib', 'integration_devops', 4.5, 6.7,8.1,["hello","world"]]

In [15]:
lst

[1, 2, 3, 'shakib', 'integration_devops', 4.5, 6.7, 8.1, ['hello', 'world']]

In [16]:
lst[8]

['hello', 'world']

In [17]:
lst[8,1]

TypeError: list indices must be integers or slices, not tuple

In [18]:
lst[8][1]

'world'

In [19]:
lst[8][0]

'hello'

In [20]:
lst[-1]

['hello', 'world']

In [21]:
lst[-1][0]

'hello'

In [22]:
lst[-1][1]

'world'

In [23]:
lst[-3][-1]

TypeError: 'float' object is not subscriptable

In [24]:
lst[-1][-1]

'world'

In [25]:
lst.append('newitem')

In [26]:
lst

[1,
 2,
 3,
 'shakib',
 'integration_devops',
 4.5,
 6.7,
 8.1,
 ['hello', 'world'],
 'newitem']

In [28]:
lst.insert(0,'firstentry')

In [29]:
lst

['firstentry',
 1,
 2,
 3,
 'shakib',
 'integration_devops',
 4.5,
 6.7,
 8.1,
 ['hello', 'world'],
 'newitem']

In [30]:
lst.reverse

In [31]:
#Assignment Day 2 : Try 5 different functions of list objects

# Tuples

In [33]:
#Tuples are immutable and they are not editable once it is declared

In [34]:
tup = ("I love my India")

In [35]:
tup

'I love my India'

In [36]:
tup = ("I","love",'India')

In [37]:
tup.count("1")

0

In [38]:
tup.count('love')

1

In [39]:
tup.index('I')

0

In [40]:
tup.index('India')

2

In [41]:
# Where do we use Tuple ?

In [44]:
# Noting down bank transaction, DOB,software licenses etc. which will never change

# What is Dictionary ?

In [46]:
# We use dictionary for Key-value pair

In [47]:
# Example of List -> A Society with Row House and having Address starting from 0

In [48]:
# Example of Dict -> A village where we do not have house num and houses are recognised by main person in house

In [50]:
dit = {"key" : "Value","Key1":1,'Key2':2}

In [51]:
dit

{'key': 'Value', 'Key1': 1, 'Key2': 2}

In [54]:
dit['Key1']

1

In [55]:
ditPerson = {"Name" : "Shakib", "Age" : 31,"Email": "zmsd@novonordisk.com"}

In [56]:
ditPerson

{'Name': 'Shakib', 'Age': 31, 'Email': 'zmsd@novonordisk.com'}

In [57]:
ditPerson.get('Name')

'Shakib'

In [58]:
ditPerson['Name']

'Shakib'

In [59]:
dit1={"subdict":{"Key1":'test1',"Key2":'test2'}}

In [60]:
dit1.get('subdict').get('Key1')

'test1'

# If Else and ELIF

In [61]:
# If I want something. If that is not there then give me this

In [62]:
num = 3

In [77]:
if num==4 : # Indentation
        print("Its 4")
else : 
    print('This is not 4')

This is not 4

In [78]:
num = 45

In [82]:
if num<40:
    print ('Number is less than 40')
elif num==40:
    print ('Number is 40')
else:
    print('Number is greater than 40')

Number is greater than 40